html, body{
  background-color : #000;
}
select, option{
  background-color : #000;
  color : #eee;
}
.dg .cr.boolean:hover{
  background-color : #888;
}
.dg .cr.number input[type=text]{
  color : #999;
}
.dg .c .slider-fg{
  background-color : #666;
}
.close-button{
  color : #666;
}
.dg .c input[type=checkbox]{
  background-color : #000 !important;
}
.dg .c input[type=text]{
  color : #aaa !important;
}
.dg .c .slider:hover .slider-fg{
  background-color : #aaa;
}
.dg.main, .dg li{
  background-color : #999;
}
.dg ul{
  background-color : #000 !important;
}
.dg li.title{
  color : #fa2;
}
.dg.main{
  background-color : #000 !important;
}
.dg li.folder{
  background-color : #000;
}
a{
  color : #fa2;
}
a:visited{
  color : #eee;
}
td{
  color : #aaa;
}
.grid-cell.forced{
  background-color : #2fa;
}
td.active{
  background-color : #fa2;
  color : #000;
}
.display{
  color : #aaa;
}
b{
  color : #fa2;
}
i{
  color : #fff;
}
.disabled{
  background-color : #fa2 !important;
  color : #000;
}
::selection{
  background : #fa2;
  color : #000;
}
::-moz-selection{
  background : #fa2;
  color : #000;
}
#grid_display{
  color : #fff;
  background-color : #0006;
}
#gui-container, #help-container{
  background-color : #000;
}
#help-button{
  background-color : #000;
  color : #fa2;
}
#help-container{
  background-color : #000;
}
input[type='checkbox']:checked{
  outline-color: #fa2;
}
input[type='checkbox']{
  outline-color: #444;
}