@font-face{
  font-family : "Hack";
  src : url(./font/Hack-Regular.ttf);
}
html, body{
  overflow : hidden;
  padding : 0;
  margin : 0;
}
canvas{
  position : absolute;
  top : 0;
  image-rendering : pixelated;
}
select, option{
  outline : none;
}
.grid-container{
  width : 100%;
}
.dg .cr.number, .dg .cr.boolean, .dg .cr.string, .dg .cr.color{
  border : none;
  text-shadow : none;
  font-family : "Hack" !important;
}
.dg .cr.boolean:hover{

}
.dg .cr.number input[type=text]{

}
.dg .c .slider-fg{

}
.close-button{
  display : none;
}
.dg .c input[type=checkbox]{

}
.dg .c input[type=text]{

}
.dg .c .slider:hover .slider-fg{

}
.dg.main, .dg li{

}
.dg.ac{
  z-index : 1000;
}
.dg ul{
  border : none;
}
.dg li{
  border : none;
}
.dg li.cr.function{
  border : 1px solid #444;
}
.dg .cr.function *{
  text-align : center;
  width : 100%;
}
.dg li.title{
  border : none;
  text-align : center;
  font-weight : bold;
}
.dg .closed li:not(.title){
  display : none;
}
.dg ul.closed{
  position : relative;
  max-height : 2.5em;
  overflow : hidden;
}
.dg.main{
  position : absolute;
  box-sizing : border-box;
  width : 100% !important;
  padding-right : 5px;
}
.dg li.folder{
  border : 1px solid #444;
  padding : 1px;
  padding-left : 4px;
  margin-bottom : 3px;
}
a{
  cursor : pointer;
}
a:visited{

}
*{
  border-width : 1px !important;
  font-family : "Hack" !important;
}
table{
  width : 100%;
  border : 1px solid #444;
  user-select : none;
}
td{
  border : 1px solid #444;
  text-align : center;
  font-size : 0.9em;
  cursor : pointer;
}
.grid-cell.forced{

}
td.active{

}
.dg .property-name{
  user-select : none;
}
.dg .title{
  user-select : none;
}
.dg .cr.string .c select{
  position : relative;
  max-width : calc(100% + 5px);
  min-width : calc(100% + 5px);
  margin-left : -5px;
  box-sizing : border-box;
  padding : 0;
  font-size : 1em;
}
.display{
  font-size : 0.9em;
  font-family : Hack;
  padding : 0.7em;
}
h1{
  font-size : 1em;
  text-transform : uppercase;
  font-family : monospace;
  font-weight : normal;
  margin : 0;
}
b{

}
i{
  font-style : normal;
}
div{
  margin : 0;
  white-space : break-all;
}
.disabled{

}
.code{
  white-space : pre-wrap;
}
::selection{

}
::-moz-selection{

}
#grid_display{
  position : fixed;
  right : 0;
  bottom : 0;
  width : 16em;
  height : 16em;
  z-index : 1000;
  font-size : 16px;
  white-space : pre-wrap;
}
#gui-container, #help-container{
  position : fixed;
  right : -18px;
  z-index : 1000;
  overflow-y : scroll;
  height : 100%;
  padding : 0;
  padding-right : 8px;
  margin : 0;
  width : 320px;
}
#help-button{
  position : fixed;
  width : 50px;
  height : 28px;
  z-index : 1001;
  border : 1px solid #444;
  left : calc(100% - 360px);
  outline : none;
  cursor : pointer;
  font-size : 0.8em;
  font-weight : bold;
}
#help-container{
  left : calc(100% - 732px);
  transition : left 0.3s ease, top 0.3s ease;
  width : 440px;
  top : 0;
  padding : 10px;
  box-sizing : border-box;
}
#help-container.closed{
  top : -100%;
}
input[type='checkbox']{
  width: 0px !important;
  height: 0px !important;
  margin: 5px;
  position: relative;
  top : 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  box-shadow: none;
  font-size: 1em;
  outline: 8px solid #000;
}
